<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graduation.graduationproject">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.graduation.graduationproject.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.graduation.graduationproject.permission.C2D_MESSAGE" />
    <!-- [END gcm_permission] -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon_blue"
        android:label="SmartHome"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="SmartHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".InitialActivity" />
        <activity android:name=".AirconActivity" />
        <activity android:name=".LampActivity" />
        <activity android:name=".PatternActivity" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".SettingActivity"/>
        <activity android:name=".UnregisteredDialog" android:theme="@android:style/Theme.Dialog"/>

        <service android:name=".PatternService" />

        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@android:style/Theme.Dialog"></activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.graduation.graduationproject" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener_service] -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener_service] -->


        <!-- [START instanceId_listener_service] -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener_service] -->


        <!-- [START gcm_registration_service] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />
        <!-- [END gcm_registration_service] -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBRi89k33WEDKlpyRlK_4VX8_sQyDoZQ9w" />

        <activity android:name=".WindowActivity"></activity>
    </application>

</manifest>